body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.primary-color{
  background-color: #548AE8
}
.secondary-color{
  background-color: #FF9A2E
}
.secondary-color-d{
  background-color: #4775C4
}



.card {
  width: 15rem;
  height: 17rem;
  margin: 10px;
  transition: .5s;

}

.card:hover{
  transform: scale(1.09);
  box-shadow: 1px 3px 5px #555555;
}

.card-body{
  padding: 5px;
  overflow:scroll;
}
.stream_card_container{
  display: flex;
  overflow:scroll;
}

.jumbotron{
  width: 100%;
  padding: 10px;
}

.login_form_container{
  background-color: #f2f2f2;
  margin-top:10vh;
  margin-left:40vw;
  margin-right:40vw;
  padding-bottom: 20vh;


}
.login_form{
  align-content: center;
  padding-top: 100px;
}
